{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/actu.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/ado.css') }}">
{% endblock %}

{% block title %}Appels d'offres{% endblock %}

{% block body %}
    <div class="appelDOffre">
        <h1><a href="{{ asset('appel_offre') }}">Appels d'offres</a></h1>
        <span class="bar"></span>
        <div class="liste">
            {% for ado in appelDOffre %}
                <div class="boite">
                    <div class="content">
                        <a href="{{ path('ado_show', {'id':ado.id}) }}">{{ ado.Title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}