{% extends 'base.html.twig' %}


{% block title %}Editer une actualité{% endblock %}
{% form_theme articleForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <style>
        .box{
            width: 70%;
            margin: 10px auto;
            font-size: 16px;
        }
        .box  button{
            font-size: 16px;
        }
    </style>
    <div class="container mt-5 mb-5">
        <h1>Editer l'actualité n° {{ article.id }}</h1>
        <div class="box">
            {{ form_start(articleForm) }}
            {{ form_row(articleForm.title, {'label': 'Titre','attr' : {'placeholder' : " titre de l'article"}}) }}
            {{ form_row(articleForm.content, {'label':'Contenu','attr' : {'placeholder' : " contenu de l'article"}}) }}
            {{ form_row(articleForm.nb, {'label':'Notez-bien','attr' : {'placeholder' : " notes importantes"}}) }}
            {{ form_row(articleForm.docs, {'label':'Nom document','attr' : {'placeholder' : " nom du document joint"}}) }}
            <button class="btn btn-primary" type="submit">Editer l'article</button>
            {{ form_end(articleForm) }}
        </div>
    </div>
{% endblock %}